*{
    margin: 0%;
    padding: 0%;
    font-family: 'Gabarito';
}
/*CABECERA*/

header {
    width: 100%;
    overflow: hidden;
    background-color: rgb(29, 0, 0);
    height: 30px;

}

header ul {
    width: 50%;
    margin: auto;
    text-align: center;
}

header ul li {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: auto;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos al extremo izquierdo y derecho */
    align-items: center; /* Centra verticalmente los elementos */
    width: 100%;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}


nav a img {
    width:100%;
}

.logo{

    width: 10%;
}
.menu {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    width: 50%;
    padding-right: 400px;
    align-items: center;


}


nav .menu a {
    float: right;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 20px;
    margin-right: 15px;
    transition: transform .2s;
}



.carrito-icono {
    cursor: pointer;
    width: 30px;
    height: 30px;
    /* Otros estilos específicos para el icono del carrito si los necesitas */
  
}

.usuario-icono {
    cursor: pointer;
    width: 30px;
    height: 30px;
    /* Otros estilos específicos para el icono del usuario si los necesitas */
    padding-right: 20px;
    
}
.usuario-icono:hover {
    filter: brightness(130%);
}


.menu-usuario {
    display: none;
    /* Estilos adicionales para el menú de usuario */
}


.desplegable {
    float: left;
    overflow: hidden;
}



.desplegable .desplegar {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin-right: 15px;
}

.desplegar a {
    border-radius: 20px;
    transition: transform .2s;
    

}


.menu a:hover {
    background-color: rgb(165, 21, 19);
    transform: scale(0.9);
    border-radius: 40px; /*radius de los botones*/

}


.desplegados {
    display: none;
    position: absolute;
    background-color: black;
    box-shadow: 0px 0px 3px 3px rgba(121, 108, 108, 0.382);
    border-radius: 60px; /*radius de el sombreado*/
}


.desplegados a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.desplegados a:hover {
    background-color: rgb(165, 21, 19);

}


.desplegable:hover .desplegados {
    display: block;
}


/*CONTENIDO PRINCIPAL*/
section img:hover{
    transform: scale(1.03);
}
section img{
    transition: transform .2s;
}

.productos{
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/363/368/20/dark-wood-texture-wallpaper-preview.jpg);
    padding-bottom: 5%;

}
.populares h2{
    text-align: center;
    color: rgb(232, 57, 55);
    font-size: 70px;
}
.listapopulares {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr ;
    display: grid;
    row-gap: 5%;
    column-gap: 0px;
    width: 80%;
    padding-top:2% ;
    margin: auto;

}

.listapopulares .corte {
    margin:auto;
    background-color: #fff;
    font-size: 24px;
}
.listapopulares .corte .borde{
    width: 96%;
    margin: auto;
     border: 1px gray dotted;
    margin-top: 2%;
    margin-bottom: 2%;
}
.listapopulares .corte p{
    margin-top: 6%;
    width: 100%;
    font-weight: bold;
    text-align: right;
}
.listapopulares .corte h3{
    color: rgba(229, 34, 32, 255);
    font-weight: normal;
    padding-left: 8px;
}

.listapopulares .foto img {
    width: 100%;
    margin: 0%;
}
.oferta h2{
    text-align: center;
    color:  rgb(232, 57, 55);
    font-size: 70px;
    margin-top: 15%;
}
.listaoferta {
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr 1fr 1fr ;
    display: grid;
    row-gap: 5%;
    column-gap: 0px;
    width: 80%;
    padding-top:2% ;
    margin: auto;
    padding-bottom: 50px;
}

.listaoferta .corte {
    width: 90%;
    margin:auto;
    background-color: #fff;
    font-size: 24px;
}
.listaoferta .corte .borde{
    width: 96%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px gray dotted;
}
.listaoferta .corte p{
    margin-top: 6%;
    width: 100%;
    font-weight: bold;
    text-align: right;
}
.listaoferta .corte h3{
    color: rgba(229, 34, 32, 255);
    font-weight: normal;
}

.listaoferta .foto img {
    width: 100%;
    margin: 0%;
}

/*PIE DE PÁGINA*/
.pie-pagina {
    margin-top: auto;
    bottom: 0;
    width: 100%;
    background-color: rgb(165, 21, 19);

}

.grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;

}

.box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maps {
    width: 10%;
}

.box figure img {
    width: 250px;
}

.red-social {

    width: 75%;
}

.red-social h2 {
    color: white
}

.red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: rgba(229, 34, 32, 255);
    text-align: center;
    transition: all 300ms ease;
    margin-top: 100px;

}

.pie-pagina .grupo-1 .red-social a:hover {
    color: rgb(114, 27, 41);
}

.pie-pagina .grupo-2 {
    background-color: rgba(229, 34, 32, 255);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

.volver {
    position: fixed;
    bottom: 0;
    right: 0;
}



.corte {
    hover {
        transform: scale(1.1);
    }
}