/* Estilos adicionales para el formulario de registro e inicio de sesión */
* {
    font-family: 'Gabarito';
}

body {
    background-color: #431717;
    opacity: 1;
    background-image: radial-gradient(circle at center center, #050101, #431717),
        repeating-radial-gradient(circle at center center, #050101, #050101, 4px, transparent 8px, transparent 4px);
    background-blend-mode: multiply;
}

/* Estilos para el formulario de inicio de sesión y registro */
.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #400202;
}

form {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    background-color: white;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
}

.form__input {
    width: 100%;
    background: none;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    color: #706c6c;
}

/* ... Otros estilos del formulario de inicio de sesión y registro ... */

/* Estilos para el enlace de volver atrás */
.atras {
    background-color: #400202;
    color: white;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    height: 4rem;
    width: 9rem;
}

/* Estilos para el enlace de registro */
.link__registrar {
    color: black;
}

h1 {
    text-align: center;
}

/* Estilos para el formulario del carrito */
#carrito-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
}

/* ... Otros estilos del carrito ... */
